body {
    background-image: url("coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {

}

#title {
    padding: 20px;
}

#description {
    margin-top: -30px;
    margin-bottom: 40px;
    font-size: 16px;
}

#survey-form {
    background-color: transparent;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: -10px;
}

label {
    margin: 20px 20px 10px 20px;
    font-size: 16px;
    font-weight: bolder;
}

#name, #email, #number, #dropdown, #textarea {
    margin: 0 20px 10px 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.radio-option {
    margin-top: -3px;
}

.checkbox-option {
    margin-top: -3px; 
}

#textarea {
    height: 100px;
}

#submit {
    background-color: #154715;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    width: 100%;
}